  <div class="toolbar">
              <div class="tool-group">
                <div class="tool active" title="Seleccionar">
                  <i class="fas fa-mouse-pointer"></i>
                </div>
                <div class="tool" title="Mover">
                  <i class="fas fa-arrows-alt"></i>
                </div>
                <div class="tool" title="Eliminar">
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
              
              
              
          
              
              <div class="tool-group">
                <div class="tool" title="Deshacer">
                  <i class="fas fa-undo"></i>
                </div>
                <div class="tool" title="Rehacer">
                  <i class="fas fa-redo"></i>
                </div>
                <div class="tool" title="Exportar">
                  <i class="fas fa-file-export"></i>
                </div>
                <div class="tool" title="Guardar">
                  <i class="fas fa-save"></i>
                </div>
              </div>
            </div>