<div class="body">
  <div class="container">
    <app-aside></app-aside>
    <div class="canvas-container">
            
      <app-toolbar></app-toolbar>
            
        <div #paperContainer 
            (drop)="onDrop($event)"
            (dragover)="onDragOver($event)"
            class="canvas">    

            <div class="zoom-toolbar">
              <div class="zoom-button"><i class="fas fa-search-minus"></i></div>
              <div class="zoom-text">100%</div>
              <div class="zoom-button"><i class="fas fa-search-plus"></i></div>
            </div> 

        </div>

        <textarea
        #floatingInput
        class="floating-input"
        (blur)="guardarTexto()"
        (keydown.enter)="onEnter($event)"
        ></textarea>  
        
    </div>
      
  </div>
     
</div>
