<div class="sidebar-left">
    <div class="sidebar-header">
      <div class="logo"><i class="fas fa-project-diagram"></i></div>
      <h2>Creador de Diagramas de Clases</h2>
    </div>
    
    <div class="sidebar-section">
      <h3>Elementos de Clase</h3>
      <ul class="sidebar-items">
        <li draggable="true" (dragstart)="onDragStart($event,'Clase')"><div class="icon"><i class="fas fa-cube"></i></div>Clase</li>
        <li draggable="true" (dragstart)="onDragStart($event,'Interfaz')"><div class="icon"><i class="fas fa-shield-alt"></i></div>Interfaz</li>
        <li><div class="icon"><i class="fas fa-cubes"></i></div>Clase Abstracta</li>
        <li><div class="icon"><i class="fas fa-list-ul"></i></div>Enumeración</li>
        <li><div class="icon"><i class="fas fa-box"></i></div>Paquete</li>
      </ul>
    </div>
 

    
    <div class="sidebar-section">
      <h3>Elementos de Objeto</h3>
      <ul class="sidebar-items">
        <li ><div  class="icon"><i class="fas fa-cube"></i></div>Instancia de Objeto</li>
        <li><div class="icon"><i class="fas fa-paperclip"></i></div>Línea de Vida</li>
        <li><div class="icon"><i class="fas fa-book-open"></i></div>Realización de Interfaz</li>
      </ul>
    </div>
    
    <div class="sidebar-section">
      <h3>Relaciones</h3>
      <ul class="sidebar-items">
        <li><div class="icon"><i class="fas fa-long-arrow-alt-right"></i></div>Asociación</li>
        <li><div class="icon"><i class="far fa-gem"></i></div>Agregación</li>
        <li><div class="icon"><i class="fas fa-gem"></i></div>Composición</li>
        <li><div class="icon"><i class="fas fa-arrow-up"></i></div>Herencia</li>
        <li><div class="icon"><i class="fas fa-arrow-right"></i></div>Implementación</li>
        <li><div class="icon"><i class="fas fa-ellipsis-h"></i></div>Dependencia</li>
      </ul>
    </div>
    
    <div class="sidebar-section">
      <h3>Anotaciones</h3>
      <ul class="sidebar-items">
        <li><div class="icon"><i class="fas fa-sticky-note"></i></div>Nota</li>
        <li><div class="icon"><i class="fas fa-font"></i></div>Texto</li>
        <li><div class="icon"><i class="fas fa-comment"></i></div>Comentario</li>
        <li><div class="icon"><i class="fas fa-asterisk"></i></div>Multiplicidad</li>
        <li><div class="icon"><i class="fas fa-quote-right"></i></div>Restricción</li>
      </ul>
    </div>
    
    <div class="sidebar-section">
      <h3>Plantillas</h3>
      <ul class="sidebar-items">
        <li><div class="icon"><i class="fas fa-layer-group"></i></div>Patrón MVC</li>
        <li><div class="icon"><i class="fas fa-user"></i></div>Singleton</li>
        <li><div class="icon"><i class="fas fa-eye"></i></div>Observador</li>
        
      </ul>
    </div>
    
    <div class="sidebar-section">
      <h3>Diagramas Guardados</h3>
      <ul class="sidebar-items">
        <li><div class="icon"><i class="far fa-file-alt"></i></div>Arquitectura del Proyecto</li>
        <li><div class="icon"><i class="far fa-file-alt"></i></div>Modelos de Datos</li>
        <li><div class="icon"><i class="far fa-file-alt"></i></div>Capa de Servicios</li>
      </ul>
    </div>
  </div>