<div class="body">
    <div class="signup-container">
        <div class="logo">
            <div class="logo-icon">
                <i class="fas fa-project-diagram"></i>
            </div>
            <div class="logo-text">DiagramMaker</div>
        </div>
    
        <form onsubmit="return false;">
            <div class="form-group">
                <label for="firstname">Nombre</label>
                <div class="input-icon">
                    <i class="fas fa-user"></i>
                    <input type="text" id="firstname" placeholder="Juan" required>
                </div>
            </div>
    
            <div class="form-group">
                <label for="lastname">Apellido</label>
                <div class="input-icon">
                    <i class="fas fa-user"></i>
                    <input type="text" id="lastname" placeholder="Pérez" required>
                </div>
            </div>
    
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <div class="input-icon">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="tu@email.com" required>
                </div>
            </div>
    
            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="input-icon">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" placeholder="••••••••" required>
                </div>
            </div>
    
            <div class="form-group">
                <label for="confirm-password">Confirmar Contraseña</label>
                <div class="input-icon">
                    <i class="fas fa-check-circle"></i>
                    <input type="password" id="confirm-password" placeholder="••••••••" required>
                </div>
            </div>
    
            <button type="submit" class="signup-button">Crear Cuenta</button>
    
            <div class="login-link">
                !Ya tienes cuenta <a (click)="navigateLogin()">Logueate</a>
              </div>
        </form>
    </div>
</div>
